
.idea/

.ipynb_checkpoints/
CollegeScorecard_Raw_Data/
test.ipynb
CS593Fproj-Copy1.ipynb
~$CollegeScorecardDataDictionary.xlsx
CollegeScorecardDataDictionary.xlsx
~$CollegeScorecardDataDictionary_Updated.xlsx
