
.idea/
.ipynb_checkpoints/
CollegeScorecard_Raw_Data/
~$CollegeScorecardDataDictionary.xlsx
CollegeScorecardDataDictionary.xlsx
~$CollegeScorecardDataDictionary_Updated.xlsx
SAS/~$RegressionResults.xlsx
